{% extends "myapp/base.html" %}
{% load static %}
{% block body %}
  <!-- Navbar Start -->
  <nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5 wow fadeIn"
  data-wow-delay="0.1s"
  >
  <a href="{% url "index" %}" class="navbar-brand p-0">
    <img class="img-fluid me-3" src="{% static 'myapp/images/icon/icon-10.png' %}" alt="Icon" />
    <h1 class="m-0 text-primary">AfricaVision</h1>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
    <div class="navbar-nav ms-auto">
      <a href="{% url "index" %}" class="nav-item nav-link">Trang chủ</a>
      <a href="{% url "about" %}" class="nav-item nav-link">Giới thiệu</a>
      <a href="{% url "service" %}" class="nav-item nav-link">Dịch vụ</a>
      <div class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle active"
          data-bs-toggle="dropdown"
          >Khác</a
        >
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          <a href="{% url "animal" %}" class="dropdown-item active">Thông tin về các loài động vật</a>
          <a href="{% url "testimonial" %}" class="dropdown-item">Nhận xét từ người dùng</a>
          <a href="{% url "error" %}" class="dropdown-item">404 Page</a>
        </div>
      </div>
      <a href="{% url "contact" %}" class="nav-item nav-link">Kết nối với chúng tôi</a>
    </div>
    <a href="{% url "signin" %}" class="btn btn-primary"
      >Đăng nhập<i class="fa fa-arrow-right ms-3"></i
    ></a>
  </div>
  </nav>
  <!-- Navbar End -->

  <!-- Page Header Start -->
  <div
  class="container-fluid header-bg py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
  >
  <div class="container py-5">
    <h1 class="display-4 text-white mb-3 animated slideInDown">
      Thông tin về các loài động vật
    </h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Khác</a>
        </li>
        <li class="breadcrumb-item text-primary active" aria-current="page">
          Thông tin về các loài động vật
        </li>
      </ol>
    </nav>
  </div>
  </div>
  <!-- Page Header End -->

  <!-- Animal Start -->
  <div class="container-xxl py-5">
  <div class="container">
    <div
      class="row g-5 mb-5 align-items-end wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="col-lg-6">
        <p><span class="text-primary me-2">#</span>Our Animals</p>
        <h1 class="display-5 mb-0">
          Các loài động vật mà <span class="text-primary">AfricaVision</span> có thể nhận diện !
        </h1>
      </div>
      <div class="col-lg-6 text-lg-end">
        <a class="btn btn-primary py-3 px-5" href=""
          >Khám phá thêm các loài động vật khác</a
        >
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-4">
          <div class="col-12">
            <a
              class="animal-item"
              href="{% static 'myapp/images/Antelope_1.jpg' %}"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="{% static 'myapp/images/Antelope_1.jpg' %}" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Antelope</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12">
            <a
              class="animal-item"
              href="{% static 'myapp/images/Giraffe.jpg' %}"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="{% static 'myapp/images/Giraffe.jpg' %}" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Giraffe</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="row g-4">
          <div class="col-12">
            <a
              class="animal-item"
              href="{% static 'myapp/images/Lion.jpeg' %}"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="{% static 'myapp/images/Lion.jpeg' %}" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Lion</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12">
            <a
              class="animal-item"
              href="{% static 'myapp/images/Zebra.jpg' %}"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="{% static 'myapp/images/Zebra.jpg' %}" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Zebra</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="row g-4">
          <div class="col-12">
            <a
              class="animal-item"
              href="{% static 'myapp/images/Elephant.jpg' %}"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="{% static 'myapp/images/Elephant.jpg' %}" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Elephant</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12">
            <a
              class="animal-item"
              href="{% static 'myapp/images/Cheetah.jpg' %}"
              data-lightbox="animal"
            >
              <div class="position-relative">
                <img class="img-fluid" src="{% static 'myapp/images/Cheetah.jpg' %}" alt="" />
                <div class="animal-text p-4">
                  <p class="text-white small text-uppercase mb-0">Animal</p>
                  <h5 class="text-white mb-0">Cheetah</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Animal End -->
{% endblock body %}